[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = {git = "https://github.com/timothycrosley/isort.git", editable = true, ref = "master"}
tqdm = "*"

[packages]
numpy = "==1.18.4"
scipy = "==1.4.1"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = "true"
